[Unit]
Description=HashiCorp Vault Server
After=consul.service
Requires=consul.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=2

ExecStart=/usr/local/bin/vault server -config=/etc/vault/vault.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

